<section class="home">
  <div class="home__text-box">
    <span>Ticket Tracker let's you create tickets to manage your projects</span>
    <span>Create an account or login to start creating tickets</span>
  </div>
</section>