<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>TicketTracker · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
      <%# NAVIGATION %>
      <input type="checkbox" id="theme-checkbox"></input>
      <nav class="navbar">
          <ul class="navbar__nav">
              <li class="navbar__item">
                  <a href="#" class="navbar__link">
                      <span class="link-text">Home</span>
                  </a>
              </li>
              <li class="navbar__item">
                  <a href="#" class="navbar__link">
                      <span class="link-text">Projects</span>
                  </a>
              </li>
              <li class="navbar__item">
                  <a href="#" class="navbar__link">
                      <span class="link-text">Tickets</span>
                  </a>
              </li>
              <li class="navbar__item">
                  <a href="#" class="navbar__link">
                      <span class="link-text">Account</span>
                  </a>
              </li>

              <li class="navbar__item" id="nav-arrow">
                  <div id="arrow"><span>&rarr;    </span></div>
              </li>

              <li class="navbar__item" id="theme-switch">
                  <input type="checkbox" id="theme-checkbox">
                  <label for="theme-checkbox" id="theme-label">Theme</label>

                  </a>
              </li>
          </ul>
      </nav>

      <main>
         <%= @inner_content %>
      </main>
    
  </body>
</html>
