<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>TicketTracker · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
      <%# NAVIGATION %>
      <input type="checkbox" id="theme-checkbox"></input>
      <nav class="navbar">
          <ul class="navbar__nav">
              <li class="navbar__item">
                  <a href="#" class="navbar__link">
                      <span class="link-text">Home</span>
                  </a>
              </li>
              <li class="navbar__item">
                  <a href="#" class="navbar__link">
                      <span class="link-text">Projects</span>
                  </a>
              </li>
              <li class="navbar__item">
                  <a href="#" class="navbar__link">
                      <span class="link-text">Tickets</span>
                  </a>
              </li>
              <li class="navbar__item">
                  <a href="#" class="navbar__link">
                      <span class="link-text">Account</span>
                  </a>
              </li>

              <li class="navbar__item" id="nav-arrow">
                  <div id="arrow"><span>&rarr;    </span></div>
              </li>

              <li class="navbar__item" id="theme-switch">
                  <input type="checkbox" id="theme-checkbox">
                  <label for="theme-checkbox" id="theme-label">Theme</label>

                  </a>
              </li>
          </ul>
      </nav>

      <%# HEADING %>
      <heading class="header">
        <div class="header__logo-box">
            <h1>Ticket Tracker</h1>
            <span>Create and manage tickets for your projects</span>
        </div>
      </heading>

      <%= @inner_content %>
 
  </body>
</html>
